{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% include 'navbar.html' %}

<div class="container review-content">
  <!-- Index-Nav -->
  <div class="index-nav d-flex flex-column">
    <ul class="index-icon">
      <li><i class="fa-solid fa-house fa-2x"></i><span class="index-text">홈</span></li>
      <li><i class="fa-regular fa-user fa-2x"></i><span class="index-text">프로필</span></li>
      <li><i class="fa-regular fa-comment-dots fa-2x"></i><span class="index-text">댓글</span></li>
      <li><i class="fa-regular fa-bell fa-2x"></i><span class="index-text">알림</span></li>
    </ul>
    <a href="{% url 'review:create' %}"><button class="index-btn">리뷰작성</button></a>
  </div>

  <!-- Index-Content -->
  <div class="index-content px-3">
    <!-- Card-top -->
    <div class="card-top">
      <div class="card-profile">
        <img src="{{ review.user.profile.image.url }}" alt="" width="55px" height="55px"
          class="rounded-circle flex-shrink-0 mx-2">
        {{ review.user }}
      </div>
      <i class="fa-solid fa-ellipsis fa-lg"></i>
    </div>
    <p class="my-3">{{ review.title }}</p>
    <!-- Card-img -->
    {% if review.image %}
    <div class="card-img mt-3">
      <img src="{{ review.image.url }}" alt="" width="100%" height="100%" style="border-radius: 20px;">
    </div>
    {% endif %}
    <p class="my-3">{{ review.title }}</p>
    <div class="d-flex justify-content-end">
      <p class="" style="opacity: .3; font-size: 14px;">{{ review.updated_at }}</p>
    </div>
    <!-- Card-icon -->
    <hr style="margin: 0;">
    <div class="card-icon d-flex justify-content-around align-items-center">
      <i class="fa-regular fa-comment fa-lg"></i>
      <i class="fa-regular fa-heart fa-lg"></i>
      <i class="fa-solid fa-cloud-arrow-down fa-lg"></i>
    </div>
    <hr style="margin: 0;">
    
  <div class="card">
    {% if review.image %}
      <div class="d-flex justify-content-center">
        <img src="{{ review.image.url }}" alt="" width="50%" height="50%" class=''>
      </div>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{review.title}}</h5>
      <p class="card-text">{{review.content}}</p>
      <div>
        <form action="{% url 'review:likes' review.pk %}" method='POST'>
          {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-link text-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewbox="0 0 16 16">
                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
              </svg>
            </button>
          {% else %}
            <button class="btn btn-link text-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewbox="0 0 16 16">
                <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
              </svg>
            </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">댓글</h6>
    <form action="{% url 'review:create_comment' review.pk%}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form%}
      <input type="submit" class="btn btn-primary">
    </form>

    {% for comment in comments %}
      <div class="d-flex text-muted pt-3">
        <img src="{{ comment.user.profile.image.url }}" alt="" width="55px" height="55px" class="rounded-circle flex-shrink-0 mx-2">

        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
          <div class="d-flex justify-content-between">
            <strong class="text-gray-dark">{{comment.content}}</strong>
            {% if request.user == comment.user %}
              <a href="{% url 'review:delete_comment' review.pk comment.pk%}">삭제</a>
            {% endif %}

    <!-- Comment -->
    <div class="p-3">
      <h6 class="border-bottom pb-2 mb-0">댓글</h6>
      <form class="comment-form" action="{% url 'review:create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        <input type="text">
        <input type="submit" class="">
      </form>
    
      {% for comment in comments %}
        <div class="d-flex text-muted pt-3">
    
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveaspectratio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#007bff"></rect>
            <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
          </svg>
    
          <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
            <div class="d-flex justify-content-between">
              <strong class="text-gray-dark">{{comment.content}}</strong>
              {% if request.user == comment.user %}
                <a href="{% url 'review:delete_comment' review.pk comment.pk%}">삭제</a>
              {% endif %}
    
            </div>
            <span class="d-block">@{{comment.user.username}}</span>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

  <!-- Index-Foryou -->
  <div class="index-foryou"></div>
</div>

{% endblock content %}

<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{review.title}}</h5>
    <p class="card-text">{{review.content}}</p>
  </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">댓글</h6>
  <form action="{% url 'review:create_comment' review.pk%}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form%}
    <input type="submit" class="btn btn-primary">
  </form>

  {% for comment in comments %}
  <div class="d-flex text-muted pt-3">

    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg"
      role="img" aria-label="Placeholder: 32x32" preserveaspectratio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#007bff"></rect>
      <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
    </svg>

    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
      <div class="d-flex justify-content-between">
        <strong class="text-gray-dark">{{comment.content}}</strong>
        {% if request.user == comment.user %}
        <a href="{% url 'review:delete_comment' review.pk comment.pk%}">삭제</a>
        {% endif %}

      </div>
      <span class="d-block">@{{comment.user.username}}</span>
    </div>
  </div>
  {% endfor %}
</div>