{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  {% include 'navbar.html' %}
  <div class="container review-content">

    <!-- Index-Nav -->
    <div class="index-nav d-flex flex-column">
      <ul class="index-icon">
        <li>
          <i class="fa-solid fa-house fa-2x"></i>
          <span class="index-text">홈</span></li>
        <li>
          <i class="fa-regular fa-user fa-2x"></i>
          <span class="index-text">프로필</span></li>
        <li>
          <i class="fa-regular fa-comment-dots fa-2x"></i>
          <span class="index-text">댓글</span></li>
        <li>
          <i class="fa-regular fa-bell fa-2x"></i>
          <span class="index-text">알림</span></li>
      </ul>
      <a href="{% url 'review:create' review.movie.id %}">
        <button class="index-btn">리뷰작성</button>
      </a>
    </div>

    <!-- Index-Content -->
    <div class="index-content px-3">
      <!-- Card-top -->
      <div class="card-top">
        <div class="card-profile">
          <img src="{{ review.user.profile.image.url }}" alt="" width="55px" height="55px" class="rounded-circle flex-shrink-0 mx-2">
          {{ review.user }}
        </div>
        <i class="fa-solid fa-ellipsis fa-lg"></i>
      </div>
      <p class="my-3">{{ review.title }}</p>
      <!-- Card-img -->
      {% if review.image %}
        <div class="card-img mt-3">
          <img src="{{ review.image.url }}" alt="" width="100%" height="100%" style="border-radius: 20px;">
        </div>
      {% endif %}

      <p class="my-3">{{ review.title }}</p>
      <div class="d-flex justify-content-end">
        <p class="" style="opacity: .3; font-size: 14px;">{{ review.updated_at }}</p>
      </div>
      <!-- Card-icon -->
      <hr style="margin: 0;">
      <div class="card-icon d-flex justify-content-around align-items-center">
        <i class="fa-regular fa-comment fa-lg"></i>
        <!-- Like -->
        <form action="{% url 'review:likes' review.movie.id review.pk %}" method='POST'>
          {% csrf_token %}
          {% if user in review.like_users.all %}
            <button class="btn btn-link text-danger">
              <i class="fa-solid fa-heart fa-lg"></i>
            </button>
          {% else %}
            <button class="btn btn-link text-black">
              <i class="fa-regular fa-heart fa-lg"></i>
            </button>
          {% endif %}
        </form>
        <!-- Like -->
        <i class="fa-solid fa-cloud-arrow-down fa-lg"></i>
      </div>
      <hr style="margin: 0;">

      <!-- Comment -->
      <div class="p-3">
        <h6 class="border-bottom pb-2 mb-0">댓글</h6>
        {% load widget_tweaks %}
        <form class="comment-form" action="{% url 'review:create_comment' review.movie.id review.pk %}" method="POST">
          {% csrf_token %}
          <input type="text">
          {% comment %} {% bootstrap_form comment_form %} {% endcomment %}
          <div class="d-grid"> {{ comment_form.content|attr:"class:btn btn-outline-primary"|attr:"rows:20" }}</div>
          
          <input type="submit" class="btn btn-danger">
        </form>

        {% for comment in comments %}
          <div class="d-flex text-muted pt-3">
            <img src="{{ review.user.profile.image.url }}" alt="" width="45px" height="45px" class="rounded-circle flex-shrink-0 mx-2 border border-warning border-3">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <strong class="text-gray-dark">{{comment.content}}</strong>
                {% if request.user == comment.user %}

                  <a href="{% url 'review:delete_comment' review.movie.id review.pk comment.pk%}">
                    <i class="fa-regular fa-delete-left text-danger"></i>
                  </a>

                {% endif %}

              </div>
              <span class="d-block fs-6 opacity">@{{comment.user.username}}</span>

            </div>
          </div>
        {% endfor %}
      </div>

    </div>

    <!-- Index-Foryou -->
    <div class="index-foryou"></div>

  </div>
{% endblock content %}
