{% extends 'base.html' %}

{% block content %}

  <table class="table">
    <thead>
      <tr>
        <th scope="col">title</th>
        <th scope="col">content</th>
        <th scope="col">movie_name</th>
        <th scope="col">image</th>
        <th scope="col">likes</th>
        <th scope="col">comments</th>
      </tr>
    </thead>
    <tbody>

      {% for review in reviews %}
        <tr>
          <td>{{ review.title }}</td>
          <td>
            <a href="{% url 'review:detail'  review.movie.id review.pk%}">{{ review.content }}</a>
          </td>
          <td>{{ review.movie.title }}</td>

          {% if review.image %}
            <td><img src="{{ review.image.url }}" alt="" width="100px" height="100px"></td>
          {% else %}
            <td></td>
          {% endif %}
          <td>
            <span class="badge bg-secondary">{{ review.like_users.all|length}}</span>
          </td>
          <td>
            <span class="badge bg-secondary">{{ review.comment_set.all|length}}</span>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock content %}
