{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
  
    {% load static %}
    <!-- static 경로에 변수를 사용하려면, get_static_prefix를 사용해야 함-->
    {% comment %} <p><img src="{% static 'images/{{ movie.id }}.jpg' %}" alt="{{movie.id}}"></p> {% endcomment %}
    <div class="container movie-index">
      <div class="row">
        {% for movie in movies %}
        <div class="col-4 my-2">
          <div class="card h-100 ">
            <img src="{% get_static_prefix %}images/{{movie.id}}.jpg" alt="">
            <div class="card-body">
              <h3>{{ movie.title }}</h3>
              <p>{{ movie.vote_average }} ⭐️</p>
              
              {% if movie.overview %}
              <p style="color: gray;">{{ movie.overview }}</p>
              {% else %}
              <p style="color: gray;">정보가 없어요...</p>  
              {% endif %}
                
              <a href="{% url 'review:index' movie.pk%}" class="btn btn-primary">리뷰쓰기 <i class="fa-solid fa-pen"></i></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock content %}
