{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  {% include 'navbar.html' %}

  <div class="container">
    <div class="card">
      {% if profile.image %}
        <a href="{% url 'accounts:update_profile' user.pk%}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">

          <img src="{{ profile.image.url }}" alt="" width="100px" height="100px" class="rounded-circle flex-shrink-0">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h4 class="mb-0">
                {{ user.first_name }}
                {{ user.last_name }}
                <span class="opacity-50">@{{ user }}</span></h4>
              <p class="mb-0 opacity-75">{{ profile.bio }}</p>
            </div>

            <small class="opacity-50 text-nowrap">작성 리뷰</small>

          </div>
        </a>
      {% else %}
        <p>프로필을 작성해 주세요</p>
        <a href="{% url 'accounts:create_profile' user.pk%}">
          프로필 작성
        </a>
      {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ user }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }}
          -
          {{ user.last_name }}</h6>

        <a href="{% url 'accounts:update' user.pk %}" class="card-link btn btn-primary">정보 수정</a>
        <a href="{% url 'accounts:change_password' user.pk %}" class="card-link btn btn-info">비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}" class="card-link btn btn-danger">회원탈퇴</a>
      </div>
    </div>

  </div>

{% endblock content %}
