{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <h1>accounts:profile.html</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ user }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }}
          -
          {{ user.last_name }}</h6>

        <a href="{% url 'accounts:update' user.pk %}" class="card-link btn btn-primary">정보 수정</a>
        <a href="{% url 'accounts:change_password' user.pk %}" class="card-link btn btn-info">비밀번호 변경</a>
        <a href="{% url 'accounts:delete' %}" class="card-link btn btn-danger">회원탈퇴</a>
      </div>
    </div>

  </div>

{% endblock content %}
