.dropdown{
  position : relative;
  display : inline-block;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; 
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 5px 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.comment-count {
  position: relative;
}

.comment-count-num {
  position: absolute;
  top: -8px;
  right: -15px;
  background-color: #1D9BEF;
  padding: 2px 8px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.like-count-num,
.like-count-num-01 {
  position: absolute;
  top: -8px;
  right: -15px;
  background-color: #db2336;
  padding: 2px 8px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.like-count-num-01 {
  top: -18px;
  right: -14px;
}