
.review-content {
  margin-top: 100px;
  display: flex;
}

/* Index-Nav */
.index-nav {
  width: 25%;
  height: 100vh;
}

.index-icon li {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 30px;
}

.index-icon li:hover {
  background-color: #e0dfdc;
  width: 180px;
}

.index-icon li a {
  display: flex;
  align-items: center;
}

.index-icon li i {
  margin-right: 15px;
}

.index-btn {
  padding: 10px 60px;
  border-radius: 50px;
  font-weight: bold;
  background-color: #1D9BEF;
  color: #fff;
  border: 1px solid #fff;
  transition: all ease-in-out .3s;
  opacity: .8;
}

.index-btn:hover {
  opacity: 1;
}

.index-text {
  font-size: 18px;
  font-weight: bold;
}

.dot-wrap {
  position: relative;
  display: inline-block;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #1D9BEF;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 8px;
}

/* Index-Content */
.index-content {
  width: 50%;
  height: 100%;
  border-left: 1px solid #e0dfdc;
  border-right: 1px solid #e0dfdc;
}

.badge {
  width: 80px;
}

.card-top {
  display: flex;
  justify-content: space-between;
}

.card-top i {
  margin: 10px 10px 0 0;
}


.card-profile {
  display: flex;
}

.card-icon {
  height: 40px;
}

.fa-ellipsis {
  cursor: pointer;
}

/* Index-Foryou */
.index-foryou {
  width: 25%;
  height: 100%;
  margin-left: 20px;
  background-color: #f7f6f0;
  border-radius: 30px;
}
