<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- css bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- js bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <nav>
    <div class="container d-flex justify-content-between align-items-center my-3">
      <div class="">
        <a class="d-flex align-items-center" href="#">
          <img src="{% static 'images/logo.png' %}" alt="" width="50" height="40">
        </a>
      </div>
      <div class="d-flex align-items-center">
        {% if request.user.is_authenticated %}
        <form action="{% url 'review:search' %}" method="POST" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 nav-form" role="search">
          {% csrf_token %}
          {% comment %} <input name='search_word' type="text"> {% endcomment %}
            <input name='search_word' type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="index-profile">
          <a href="{% url 'accounts:profile' user.pk %}">
            {% if request.user.profile.image %}
              <img src="{{ request.user.profile.image.url }}" alt="" width="55px" height="55px"
                class="rounded-circle flex-shrink-0 mx-2">
            {% else %}
              <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded-circle" width="55" height="55"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32"
                preserveaspectratio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff"></rect>
                <text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text>
              </svg>
            {% endif %}
          </a>
          {% else %}
          <a href="{% url 'accounts:login' %}">로그인</a>
          <a href="{% url 'accounts:signup' %}">회원가입</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</body>

</html>